{% load static %}
{% block content %}
{% include 'header.html' %}

<div align="center">
    <form method="POST" action="">
        {% csrf_token %}
<table border="2" width="50%">
    <h1>  </h1>
    <tr>
        <td>student</td>
        <td>Complaint</td>
        
    </tr>
{% for i in result %}
    <tr>
        <td>{{i.uid}}</td>
        <td>{{i.complaint}}</td>
        <td><a href="{% url 'approved' id=i.id %}">Approved</a></td>
        <td><a href="">Assign</a></td>
        </tr>
{% endfor %}
</table>
</div>
{% endblock %}
{% include 'footer.html' %}