{% load static %}
{% block content %}
{% include 'header.html' %}


<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h2>{{status}}</h2>
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Login </h3>
            <form method="POST" action="login">
              {% csrf_token %}
              <div class="row">

                <div class="col-md-12 mb-4">

                  <div class="form-outline">
                    <input type="text" id="" class="form-control form-control-lg" name="email" required />
                    <label class="form-label" for="lastName">Email</label>
                  </div>
                  <div class="form-outline">
                    <input type="password" id="" class="form-control form-control-lg" name="password" required />
                    <label class="form-label" for="lastName">Password</label>
                  </div>
                </div>
              </div>
              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Login" name="submit" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% include 'footer.html' %}